/*
Theme Name: Krohn-Leitmannstetter Karriere Theme
Theme URI: http://www.petersterr.de
Author: Peter Sterr
Author URI: http://www.petersterr.de
Description: Theme für die Krohn-Leitmannstetter Karriere Microsite
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: klcareers
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Krohn-Leitmannstetter Karriere Theme is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/* === IMPORTS === */
@import "assets/css/bootstrap.min.css";
@import "assets/css/font-awesome/css/font-awesome.min.css";
@import "assets/css/bootstrap-select.min.css";

/* === FONTS === */
/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('fonts/raleway-v28-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/raleway-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('fonts/raleway-v28-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/raleway-v28-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('fonts/open-sans-v34-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/open-sans-v34-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('fonts/open-sans-v34-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/open-sans-v34-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
    url('fonts/open-sans-v34-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/open-sans-v34-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local(''),
    url('fonts/open-sans-v34-latin-ext_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/open-sans-v34-latin-ext_latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.navbar-toggle {
    border-color: #B2B3B5;
    margin-right: 25px;
}

.navbar-toggle .icon-bar {
    background-color: #B2B3B5;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11111%;
}

.gallery-caption {
	display: block;
}

/*COLOUR REFERENCES
Blue:       #21759B
Grey:       #F5F5FA
*/
/* === IMPORTS === */
@import "bootstrap.min.css";
@import "font-awesome/css/font-awesome.min.css";

/* === GENERAL === */

body {
    margin-top: 0px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
}

h1, h1, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h1, h2 {
    margin: 0 0 40px;
}

h3 {
    margin: 20px 0;
}

h4 {
    font-size: 18px
}

h4 i {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

p {
    margin: 0 0 15px;
    line-height: 1.7;
}

p.lead {
    font-weight: normal;
}

a:link, a:visited {
    color: #21759B
}

a:hover {
    text-decoration: none;
    color: #21759B;
    background-color: transparent !important;
    border-bottom: 3px solid #21759B;
}

li.menu-item {
    margin-right: 10px;
}

ul.nav {
    padding-top: 15px;
}

a.menu-image-title-hide {
    padding-top: 0px !important;
}

button, input, .btn, a.btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: white;
}

.btn {
    font-weight: bold;
    border-radius: 30px;
    font-size: 16px;
}

button.btn:focus {
    outline: none !important;
}

.btn-danger {
    background-color: #dd5638;
    border-collapse: #d95131;
}

.btn-success {
    background-color: #79b044;
    border: none;
}

.btn-success:hover {
    background: #6a9b3d;
    border-color: #6a9b3d;
}

img {
    max-width: 100%;
}

pre {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-family: 'Open Sans';
    color: white;
}

.modal-content {
    background: url('../img/tile.jpg') top left repeat;
}

blockquote {
    padding: 50px 0 0 0;
    border: 0;
    font-size: 36px;
    font-style: italic;
    text-align: left;
}

blockquote cite {
    display: block;
    color: #777;
    margin: 15px 0 0 0;
    font-size: 24px;
}

blockquote:before {
    display: none;
}

/* === LAYOUT === */
.container-fluid {
    padding: 0;
}

.container-fluid>.row {
    margin-left: 0px;
    margin-right: 0px;
}

.row + .row {
    background: transparent;
}

section {
    padding: 0;
}

.section-header {
    text-align: center;
}

section h2 {
    margin: 20px 0 40px;
}

section h3 {
    margin: 30px 0 55px;
}

section h4 {
    margin: 30px 0 55px;
}

.navbar.navbar-fixed-top {
    background-color: white;
    height: 80px;
    opacity: 0.9;
    -webkit-transition: height 500ms; /* Safari */
    transition: height 500ms;
}

.navbar.navbar-fixed-top.shrink {
    height: 60px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav>li>a {
    -webkit-transition: padding-top 500ms; /* Safari */
    transition: padding-top 500ms;
}

/*.navbar .navbar-nav.shrink>li>a {
    padding-top: 0px;
}*/

.fa {
    color: #A8A8A8;
    font-size: 40px;
}

/* TESTIMONIALS */

.testimonials-section {
    background-color: #F5F5FA;
}

.testimonial {
    min-height: 520px;
    padding-top: 100px;
}

.testimonial-image-col {
    text-align: center;
}

.testimonials-carousel-indicators>li {
    border-color: #21759B;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0px;
}

.testimonials-carousel-indicators>li.active {
    background-color: #21759B;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0px;
}

/* AUFMACHER */

.aufmacher-section {
    min-height: 700px;
    background-size: cover!important;
}

/* SPOT */
.spot-section {
    position: relative;
    padding: 18vw 0px 5vw;
    background-size: cover!important;
    text-align: center;
    color: white;
}
.spot-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: RGBA(33, 117, 155, 0.6);
}

.spot-row {
    padding-bottom: 90px;
}

.spot-link, .spot-link:hover {
    border-bottom: none;
}

/* STELLEN */

.stellen-text-container {
    color: #21759B;
    text-align: center;
    padding: 30px 80px;
}

.stellen-text-container p {
    color: black
}

.stellen-kategorie-container {
    color: black;
    text-align: center;
    padding: 0px;
}

.stellen-kategorie-title {
    position: relative;
}

.stellen-kategorie-title:before {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: black;
    left: 50%;
    margin-left: -18px;
    bottom: -28px;
}

.stellen-title {
    position: relative;
}

.stellen-title:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #21759B;
    left: 50%;
    margin-left: -26px;
    bottom: -28px;
}

.stellen-row {
    padding: 90px;
    margin: 0;
}

/* EINRICHTUNGEN */

.einrichtungen-section {
    background-color: #F5F5FA;
}

.einrichtungen-slide {
    min-height: 400px!important;
    position: relative;
    background-size: cover!important;
}

.einrichtungen-slide::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: RGBA(33, 117, 155, 0.8);
}

.einrichtungen-slide-title {
    color: #ffffff;
    margin: 20px 0 0 0;
    font-size: 24px;
}

.einrichtungen-slide-beschreibung {
    font-size: 20px;
}

.carousel-control>span {
    position: absolute;
    top: 50%;
}

.einrichtungen-text-container {
    color: #21759B;
    text-align: center;
    padding: 30px 80px;
}

.einrichtungen-text-container>p {
    color: black;
}

.einrichtungen-title {
    position: relative;
}

.einrichtungen-title:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #21759B;
    left: 50%;
    margin-left: -50px;
    bottom: -28px;
}

/* STELLENANZEIGEN */

.stellenanzeigen-section {
    padding-bottom: 50px;
    background-color: #F5F5FA
}

.stellenanzeigen-text-container {
    color: #21759B;
    text-align: center;
    padding: 30px 80px 0px 80px;
}

.stellenanzeigen-title {
    position: relative;
}

.stellenanzeigen-title:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #21759B;
    left: 50%;
    margin-left: -26px;
    bottom: -28px;
}

.stellenanzeigen-location {
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: normal;
}

.stellenanzeigen-stelle-title {
    padding-top: 5px;
    font-weight: bold;
}

/* NEUIGKIETEN */

.neuigkeiten-section {
    padding-bottom: 50px;
}

.neuigkeiten-text-container {
    color: #21759B;
    text-align: center;
    padding: 30px 80px;
}

.neuigkeiten-text-container p {
    color: black
}

.neuigkeiten-title {
    position: relative;
}

.neuigkeiten-title:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #21759B;
    left: 50%;
    margin-left: -26px;
    bottom: -28px;
}

.neuigkeiten-neuigkeit {
    border: none;
}

.neuigkeiten-neuigkeit h4 {
    margin: 10px 0 20px;
}

.neuigkeiten-date {
    font-size: 14px;
    color: #21759B;
    margin: 10px 0 0 0;
}

.neuigkeiten-button {
    background-color: #21759B;
}

/* FAQS */

.faqs-section {
    background-color: #F5F5FA;
    padding: 30px 80px;
}

.faqs-text-container {
    color: #21759B;
    text-align: center;
}

.faqs-title {
    position: relative;
}

.faqs-title:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #21759B;
    left: 50%;
    margin-left: -50px;
    bottom: -28px;
}

.faqs-panel-group {
    padding-bottom: 0px;
}

.faqs-panel {
    border: none;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0 50px;
    margin: 20px 0 0 0!important;
}

.panel-default>.faqs-faq-heading {
    display:inline-block;
    background-color: transparent;
    border: 1px solid #21759B;
    border-radius: 30px;
    background-color: white;
}

.faqs-faq-title {
    font-size: 18px;
}

.faqs-faq-title>a, .faqs-faq-title>a:hover, .faqs-faq-title>a:focus {
    color: black;
    border: 0px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

.faqs-faq-title>a.collapsed {
    font-weight: 400;
}

.faqs-faq-body {
    border: none!important;
}

/* FAKTEN */

.fakten-section {
    padding-bottom: 50px;
}

.fakten-text-container {
    color: #21759B;
    text-align: center;
    padding: 30px 80px;
}

.fakten-text-container p {
    color: black
}

.fakten-title {
    position: relative;
}

.fakten-title:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #21759B;
    left: 50%;
    margin-left: -26px;
    bottom: -28px;
}

.fakten-row {
    margin: 0;
}

.fakten-fakt {
    padding: 20px;
    text-align: center;
    border: 1px solid #F5F5FA;
    border-left: none;
}

.fakten-fakt-title {
    color: #21759B;
    font-size: 42px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* UNTERNEHMEN */

.unternehmen-section {
    background-color: #21759B;
}

.unternehmen-text-container {
    color: white;
    text-align: center;
    padding: 30px 80px;
}

.unternehmen-title {
    position: relative;
}

.unternehmen-title:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: white;
    left: 50%;
    margin-left: -50px;
    bottom: -28px;
}

.unternehmen-leitbild-container {
    background-color: white;
    padding: 30px 100px 60px 100px;
}

.unternehmen-leitbild-title {
    text-align: center;
    font-weight: normal;
}

.unternehmen-leitbild-carousel-inner {
    padding: 50px 0;
}

.leitbild-headline {
    font-size: 56px;
    margin: 0 0 20px 0;
}

.leitbild-text {
    font-size: 20px;
    margin: 0;
}

.leitbild-image {
    font-size: 350px;
    color: #21759B;
    opacity: 0.8;
}

.carousel.vertical .carousel-inner {
    height: 100%;
    width: auto;
}
.carousel.vertical .carousel-inner > .item {
    width: auto;
    -webkit-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel.vertical .carousel-inner > .item {
        -webkit-transition: 0.6s ease-in-out;
        transition: 0.6s ease-in-out;
    }
    .carousel.vertical .carousel-inner > .item.next, .carousel.vertical .carousel-inner > .item.active.right {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        top: 500px;
    }
    .carousel.vertical .carousel-inner > .item.prev, .carousel.vertical .carousel-inner > .item.active.left {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        top: -500px;
    }
    .carousel.vertical .carousel-inner > .item.next.left, .carousel.vertical .carousel-inner > .item.prev.right, .carousel.vertical .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        top: 0;
    }
}
.carousel.vertical .carousel-inner > .active,
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
    display: block;
}
.carousel.vertical .carousel-inner > .active {
    top: 0;
}
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel.vertical .carousel-inner > .next {
    top: 100%;
}
.carousel.vertical .carousel-inner > .prev {
    top: -100%;
}
.carousel.vertical .carousel-inner > .next.left,
.carousel.vertical .carousel-inner > .prev.right {
    top: 0;
}
.carousel.vertical .carousel-inner > .active.left {
    top: -100%;
}
.carousel.vertical .carousel-inner > .active.right {
    top: 100%;
}

.carousel.vertical .carousel-control {
    left: 50%;
    width: 50px;
    font-size: 50px;
    color: #21759B;
    opacity: 1.0;
}
.carousel.vertical .carousel-control:hover {
    border: none;
    color: #21759B;
}
.carousel.vertical .carousel-control:focus {
    opacity: 1.0;
}
.carousel.vertical .carousel-control.up {
    top: 0;
    right: 0;
    bottom: 100%;
}
.carousel.vertical .carousel-control.down {
    top: 92%;
    right: 0;
    bottom: 0;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .fa-chevron-up,
.carousel.vertical .carousel-control .fa-chevron-down {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    color: #21759B;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .fa-chevron-up {
    left: 0;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .fa-chevron-down {
    left: 0;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-up,
.carousel.vertical .carousel-control .icon-down {
    width: 20px;
    height: 20px;
    line-height: 1;
    font-family: serif;
}
.carousel.vertical .carousel-control .icon-prev:before {
    content: '\2039';
}
.carousel.vertical .carousel-control .icon-next:before {
    content: '\203a';
}



/* GRUENDE */

.gruende-section {
    background-color: #F5F5FA;
    padding: 20px 0 50px 0;
}

.gruende-text-container {
    color: #21759B;
    text-align: center;
}

.gruende-title {
    position: relative;
}

.gruende-title:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #21759B;
    left: 50%;
    margin-left: -50px;
    bottom: -28px;
}

.gruende-ul {
    border: none;
    margin-bottom: 30px;
}

.gruende-grund-title {
    text-align: center;
}

.gruende-grund-title.active>a {
    color: black!important;
}

.gruende-grund-title>a, .gruende-grund-title>a:hover, .gruende-grund-title>a:focus {
    position: relative;
    border: none!important;
    background-color: transparent!important;
    font-size: 18px;
    color: #555;
}

.gruende-grund-title.active>a:before {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: black;
    left: 50%;
    margin-left: -22px;
    bottom: -4px;
}

/* KONTAKT */

.kontakt-section {
    background-color: #FFFFFF;
}

.kontakt-title {
    position: relative;
    color: #21759B;
    text-align: center;
    font-size: 40px;
    margin: 55px 0 30px;
}

input[type="text"],input[type="email"] {
    width: 100%;
    border: 1px solid #21759B;
    padding: 10px;
    color: black;
    margin-bottom: 20px;
}

input[type="text"].missing,input[type="email"].missing {
    border: 1px solid red;
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
    margin-left: -20px;
}

.checkbox label {
    padding: 20px 0 20px 40px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    font-size: 18px;
}

.checkbox label::before {
    background-color: #fff;
    border: 1px solid #21759B;
    content: "";
    display: inline-block;
    height: 40px;
    left: 0;
    margin-left: -24px;
    position: absolute;
    transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    width: 40px;
    box-sizing: border-box;
}

.checkbox label::after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 25px;
    height: 15px;
    background: transparent;
    top: 28px;
    left: -16px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}

.checkbox input[type=radio]:checked + label:after {
    opacity: 1;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select .btn {
    border: 1px solid #21759B;
    color: #9d87bc;
    display: block !important;
    padding: 10px !important;
    width: 100% !important;
    max-width: 100%;
    position: relative;
    background: #f5f5f5;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.dropdown-menu>ul>li>a {
    font-size: 16px;
}

.dropdown-menu>ul>li>a:hover {
    border: none;
    background-color: #F5F5FA !important;
}

.dropdown-menu>ul>li>a:focus {
    outline: none;
    background-color: transparent !important;
    font-weight: bold;
}

.kontakt-infobox {
    margin-top: 10px;
}

.kontakt-infobox>div {
    text-align: center;
    background-color: #F5F5FA;
    padding-top: 10px;
    padding-bottom: 10px;
}

.kontakt-infobox>div>p {
    margin: 0;
    font-size: 14px;
}

.kontakt-button-col {
    text-align: center;
}

.kontakt-button {
    background-color: #21759B;
    margin: 30px 0px 50px 0;
    font-size: 20px;
}

.kontakt-captcha-col {
    margin-top: 20px;
    text-align: center;
}

/* MODAL */
.modal-content {
    background-color: black!important;
}
.modal-header {
    border: 0px;
    padding: 15px 15px 0px 0px;
}
.modal-body {
    padding: 0px 15px 15px 15px;
}

.close>span {
    color: white;
    font-size: 30px;
}

/* FOOTER */
footer {
    background-color: #21759B;
    color: white;
    text-align: center;
}

.footer-title {
    position: relative;
}

.footer-title:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: white;
    left: 50%;
    margin-left: -50px;
    bottom: -28px;
}

.footer-social-list {
    margin: 40px 0;
    padding: 0 150px;
}

.footer-social-link {
    list-style: none;
    font-weight: bold;
    font-size: 18px;

}

.footer-social-link>a {
     color: white;
}

.footer-social-link>a:hover {
    text-decoration: underline;
}

.footer-imprint-row {
    font-size: 14px;
}

.footer-imprint-link, .footer-imprint-link:hover {
    color: white!important;
    text-decoration: underline;
}

.thanks {
    color: limegreen;
    font-size: 20px;
    text-align: center;
    margin: 0px 0px 30px 0px;
}

.error {
    color: red;
    font-size: 14px;
}

.global {
    font-size: 20px;
    text-align: center;
}

.g-recaptcha div
{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.navbar-nav>li>a.menu-image-not-hovered {
    padding: 3px 15px 15px 15px;
    font-weight: bold;
}

.navbar-nav>li>a.menu-image-not-hovered:hover {
    border-bottom: 0px;
}

.navbar-nav>li>a.menu-image-not-hovered>img {
    -webkit-transition: width, height, margin-top 500ms; /* Safari */
    transition: width, height, margin-top 500ms;
}

/*.navbar-nav>li>a.menu-image-not-hovered.shrink>img {
    width: 35px;
    height: 37px;
    margin-top: -5px;
}*/

.nav.navbar-nav.shrink {
    padding-top: 4px;
}

/* === MEDIA QUERIES === */

@media (min-width: 1px) {
    .navbar-collapse.collapse {
        display: block !important;
    }
    .navbar-nav {
        margin: 0px;
    }
}

@media (max-width: 1235px) {
    li.menu-item {
        margin-right: 0px;
    }
}

@media screen and ( max-width: 1072px) {
    #menu-hauptmenu {
        padding-top: 5px;
        padding-left: 10px;
    }
    #menu-hauptmenu>li:first-child {
        display: block!important;
    }
    .navbar-nav>li>a.menu-image-not-hovered {
        padding: 0px 0px 5px 0px;
        font-weight: bold;
    }
    .menu-item a.menu-image-title-after.menu-image-not-hovered img {
        height: 40px;
    }
    .navbar .navbar-collapse {
        text-align: left;
    }
    .navbar-logo{
        display: none!important;
    }
    .menu-item-object-custom {
        display: none!important;
    }
    .navbar.navbar-fixed-top {
        height: 50px;
    }
    .navbar.navbar-fixed-top.shrink {
        height: 50px;
    }
    .navbar-collapse {
        background-color: white;
        max-height: 600px!important;
    }
    .navbar-collapse>ul>li>a {
        padding: 10px 15px;
    }
    .navbar-header {
        text-align: center;
    }
    .testimonial {
        padding-top: 70px;
    }
    .testimonial-image-col>img {
        height: 200px;
        width: 200px;
    }
    blockquote {
        padding: 20px 0 0 0;
        font-size: 18px;
        text-align: center;
    }

    blockquote cite {
        font-size: 12px;
    }
    .spot-section {
        padding: 34vw 0px 5vw;
    }
    .stellen-text-container {
        padding: 10px 20px;
    }
    .stellen-row {
        padding: 0 20px;
    }
    .stellen-kategorie-container {
        padding: 10px 0px;
    }
    .einrichtungen-slide-beschreibung {
        font-size: 12px;
    }
    .carousel-control.right {
        text-align: left;
    }
    .stellenanzeigen-stelle-title {
        padding-bottom: 10px;
    }
    .stellenanzeigen-location {
        font-size: 20px;
    }
    .neuigkeiten-section {
        padding-bottom: 0px;
    }
    .faqs-section {
        padding: 0;
    }
    .faqs-panel {
        padding: 0;
    }
    .unternehmen-text-container {
        padding: 30px 20px;
    }
    .unternehmen-leitbild-container {
        background-color: white;
        padding: 15px 10px 30px 10px;
    }

    .unternehmen-leitbild-title {
        text-align: center;
        font-size: 16px;
        margin: 0 0 10px 0;
    }

    .unternehmen-leitbild-carousel-inner {
        padding: 40px 0 50px 0;
        text-align: center;
    }

    .leitbild-headline {
        font-size: 26px;
        margin: 15px 0 15px 0;
    }

    .leitbild-text {
        font-size: 12px;
        margin: 0;
    }

    .leitbild-image {
        font-size: 36px;
    }
    .carousel.vertical .carousel-control.down {
        top: 95%;
    }
    .carousel.vertical .carousel-control .fa-chevron-down {
        left: -12px;
    }
    .carousel.vertical .carousel-control .fa-chevron-up {
        left: -12px;
    }
    .gruende-ul {
        text-align: center;
    }
    .gruende-grund-title.active>a {
        font-weight: bold;
        font-size: 18px;
    }
    .gruende-grund-title>a, .gruende-grund-title>a:hover, .gruende-grund-title>a:focus {
        position: relative;
        border: none!important;
        background-color: transparent!important;
        font-size: 18px;
        color: #555;
    }
    .gruende-grund-title>a {
        font-size: 14px;
    }
    .nav-tabs>li.gruende-grund-title {
        float: none;
        margin-top: 20px
    }
    .tab-content {
        text-align: center;
        font-weight: bold;
        padding: 5px;
    }
    .contact-form-checkboxes {
        padding: 0 38px;
    }
    .footer-social-list {
        padding: 0px;
    }
    .footer-social-link {
        padding-bottom: 10px;
    }
    input {
        font-size: 14px;
    }
    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        font-size: 14px;
    }
    .dropdown-menu>ul>li>a {
        font-size: 14px;
    }
}