/*COLOUR REFERENCES

Green:      #79b044
Salmon:     #dd5638
Blue Gray:  #3e4249

*/
/* === IMPORTS === */
@import "bootstrap.min.css";
@import "font-awesome/css/font-awesome.min.css";

/* === GENERAL === */

body {
    margin-top: 0px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 16px;
}

h1, h1, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h1, h2 {
    margin: 0 0 40px;
}

h3 {
    margin: 20px 0;
}

h4 {
    font-size: 18px
}

h4 i {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

p {
    margin: 0 0 15px;
    line-height: 1.7;
}

p.lead {
    font-weight: normal;
}

a:link, a:visited {
    color: #21759B
}

a:hover {
    text-decoration: none;
    color: #21759B;
    background-color: transparent !important;
    border-bottom: 3px solid #21759B;
}

li.menu-item {
    margin-right: 20px;
}

ul.nav {
    padding-top: 15px;
}

a.menu-image-title-hide {
    padding-top: 0px !important;
}

button, input, .btn, a.btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: white;
}

.btn {
    font-weight: bold;
}

button.btn:focus {
    outline: none !important;
}

.btn-danger {
    background-color: #dd5638;
    border-collapse: #d95131;
}

.btn-success {
    background-color: #79b044;
    border: none;
}

.btn-success:hover {
    background: #6a9b3d;
    border-color: #6a9b3d;
}

img {
    max-width: 100%;
}

.modal-content {
    background: url('../img/tile.jpg') top left repeat;
}

.badge.social {
    background: #ccc;
    font-size: 24px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 42px;
    margin: 0 5px 20px 0;
    padding: 0;
    -webkit-border-radius: 50px 0 50px 50px;
    -moz-border-radius: 50px 0 50px 50px;
    border-radius: 50px 0 50px 50px;
    color: white;
}

.badge.social.twitter:hover {
    background: #55acee;
}

.badge.social.facebook:hover {
    background: #3b5998;
}

.badge.social.gplus:hover {
    background: #db4b39;
}

blockquote {
    padding: 0;
    border: 0;
    font-style: italic;
    text-align: left;
}

blockquote cite {
    display: block;
    color: #777;
    margin: 15px 0 0 0;
}

blockquote:before {
    display: none;
}

/* ==== HERO === */

#hero {
    background: url('../img/hero-bg.jpg') 50% 0 repeat fixed;
    min-height: 500px;
    padding: 40px 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

#hero article {
    width: 100%;
    text-align: center;
}

#hero .hero-text {
    margin-top: 30px;
}

#price-timeline {
    margin: 30px 0 60px;
    text-align: center;
}

#price-timeline .price {
    display: inline-block;
    margin: 0 2% 0 0;
    width: 30%;
    background: #3e4249;
    padding: 10px 20px 30px;
    position: relative;
    vertical-align: top;
}

#price-timeline .price.active {
    background: #dd5638;
}

#price-timeline .price span {
    background: #101010;
    display: block;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -35px;
}

#price-timeline h4 {
    margin: 0 0 10px;
}

#price-timeline h4 small {
    color: white;
    font-weight: bold;
    display: block;
}

/* === LAYOUT === */
.container-fluid {
    padding: 0;
}

.row + .row {
    background: transparent;
}

section {
    padding: 0;
}

.section-header {
    text-align: center;
}

section h2 {
    margin: 20px 0 40px;
}

section h3 {
    margin: 30px 0 55px;
}

section h4 {
    margin: 30px 0 55px;
}

.navbar.navbar-fixed-top {
    background-color: white;
    height: 80px;
    opacity: 0.9;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.fa {
    color: #A8A8A8;
    font-size: 40px;
}

/* AUFMACHER */

.aufmacher-section {
    min-height: 700px;
    background-size: cover;
}

/* SPOT */
.spot-section {
    position: relative;
    padding: 18vw 0px 5vw;
    background-size: cover!important;
    text-align: center;
    color: white;
}
.spot-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: RGBA(33, 117, 155, 0.6);
}

.spot-row {
    padding-bottom: 90px;
}

.spot-link, .spot-link:hover {
    border-bottom: none;
}

/* STELLEN */

.stellen-text-container {
    color: #21759B;
    text-align: center;
    padding: 30px 80px;
}

.stellen-text-container p {
    color: black
}

.stellen-kategorie-container {
    color: black;
    text-align: center;
}

.stellen-kategorie-title {
    position: relative;
}

.stellen-kategorie-title:before {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: black;
    left: 50%;
    margin-left: -18px;
    bottom: -28px;
}

.stellen-title {
    position: relative;
}

.stellen-title:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #21759B;
    left: 50%;
    margin-left: -26px;
    bottom: -28px;
}

.stellen-row {
    padding-bottom: 90px;
}

/* EINRICHTUNGEN */

#einrichtungen {
    background-color: #21759B;
}

.einrichtungen-text-container {
    color: white;
    text-align: center;
    padding: 30px 80px;
}

.einrichtungen-title {
    position: relative;
}

.einrichtungen-title:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: white;
    left: 50%;
    margin-left: -50px;
    bottom: -28px;
}

/* FAQS */

.faqs-section {
    background-color: #F5F5FA;
    padding: 70px 0 50px;
}

.faqs-text-container {
    color: #21759B;
    text-align: center;
}

.faqs-title {
    position: relative;
}

.faqs-title:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #21759B;
    left: 50%;
    margin-left: -50px;
    bottom: -28px;
}

.faqs-panel-group {
    padding-bottom: 50px;
}

.faqs-panel {
    border: none;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0 50px;
}

.panel-default>.faqs-faq-heading {
    background-color: transparent;
}

.faqs-faq-title {
    font-size: 18px;
}

.faqs-faq-title>a, .faqs-faq-title>a:hover, .faqs-faq-title>a:focus {
    color: black;
    border: none;
    text-decoration: none;
}

.faqs-faq-body {
    border: none!important;
}

/* FAKTEN */

.fakten-section {
    padding-bottom: 50px;
}

.fakten-text-container {
    color: #21759B;
    text-align: center;
    padding: 30px 80px;
}

.fakten-text-container p {
    color: black
}

.fakten-title {
    position: relative;
}

.fakten-title:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #21759B;
    left: 50%;
    margin-left: -26px;
    bottom: -28px;
}

.fakten-row {
    margin: 0;
}

.fakten-fakt {
    padding: 20px;
    text-align: center;
    border: 1px solid #F5F5FA;
    border-left: none;
}

.fakten-fakt-title {
    color: #21759B;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* UNTERNEHMEN */

.unternehmen-section {
    background-color: #21759B;
}

.unternehmen-text-container {
    color: white;
    text-align: center;
    padding: 30px 80px;
}

.unternehmen-title {
    position: relative;
}

.unternehmen-title:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: white;
    left: 50%;
    margin-left: -50px;
    bottom: -28px;
}

/* GRUENDE */

.gruende-section {
    background-color: #F5F5FA;
    padding: 50px 0;
}

.gruende-text-container {
    color: #21759B;
    text-align: center;
}

.gruende-title {
    position: relative;
}

.gruende-title:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #21759B;
    left: 50%;
    margin-left: -50px;
    bottom: -28px;
}

.gruende-ul {
    border: none;
    margin-bottom: 30px;
}

.gruende-grund-title {
    text-align: center;
}

.gruende-grund-title.active>a {
    color: black!important;
}

.gruende-grund-title>a, .gruende-grund-title>a:hover, .gruende-grund-title>a:focus {
    position: relative;
    border: none!important;
    background-color: transparent!important;
    font-size: 18px;
    color: #555;
}

.gruende-grund-title.active>a:before {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: black;
    left: 50%;
    margin-left: -22px;
    bottom: -4px;
}

/* FOOTER */
footer {
    background-color: #21759B;
    color: white;
    text-align: center;
}

.footer-title {
    position: relative;
}

.footer-title:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: white;
    left: 50%;
    margin-left: -50px;
    bottom: -28px;
}

.footer-social-list {
    margin: 40px 0;
    padding: 0 150px;
}

.footer-social-link {
    list-style: none;
}

.footer-social-link>a {
     color: white;
}

.footer-social-link>a:hover {
    text-decoration: underline;
}

.footer-imprint-row {
    font-size: 14px;
}

.footer-imprint-link, .footer-imprint-link:hover {
    color: white!important;
    text-decoration: underline;
}

/* === MEDIA QUERIES === */

@media screen and ( max-width: 991px) {
    #instructor .container {
        background: rgba(255, 255, 255, 0.8);
        padding: 20px;
    }
}

@media screen and ( max-width: 768px ) {
    .logo {
        width: 50%;
    }

    #optin p {
        margin: 0 0 10px;
    }

    #featurette iframe {
        height: 240px;
    }
}

@media screen and ( max-width: 568px ) {
    #instructor .num {
        height: 100px;
        width: 100px;
        font-size: 22px;
    }

    #instructor .num span {
        font-size: 16px;
    }
}